@font-face {
    font-family: Hanken Grotesk;
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

:root {
    --background-gradient-one: hsl(252, 100%, 67%);
    --background-gradient-two: hsl(241, 81%, 54%);

    --circle-gradient-one: hsla(256, 72%, 46%, 1);
    --circle-gradient-two: hsla(241, 72%, 46%, 0);

    --neutral-dark: hsl(224, 30%, 27%);
    --neutral-light-one: hsl(0, 0%, 100%);
    --neutral-light-two: hsl(221, 100%, 96%);
    --neutral-light-three: hsl(241, 100%, 89%);
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
p, section {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* end reset */

body {
    font-family: "Hanken Grotesk", sans-serif; /*add custom font*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--neutral-light-one);
    color: var(--neutral-dark);
    font-size: 18px;
    font-weight: 500;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, .1);
    max-width: 36rem;
    border-radius: 16px;
    overflow: hidden;
}

.right, .left, .right-container {
    display: flex;
    flex-direction: column;
}

.right-container {
    align-items: stretch;
    justify-content: space-between;
    padding: 1.8em 2em;
    background-color: var(--neutral-light-one);
}

.right {
    align-items: stretch;
    gap: 0.5em;
}

.right p, button {
    font-size: 0.8em;
}

.left {
    align-items: center;
    background: linear-gradient(var(--background-gradient-one), var(--background-gradient-two));
    text-align: center;
    border-radius: inherit;
    gap: 1.2em;
    padding: 1.8em 2.8em;
}

h1, h2 {
    font-size: 1.1em;
    font-weight: 500;
}

h2, .circle .small {
    color: var(--neutral-light-three);
}

.circle .small {
    font-weight: 500;
}

.circle .small {
    font-size: 0.7em;
    opacity: 0.8;
}

.circle {
    background: linear-gradient(var(--circle-gradient-one), var(--circle-gradient-two));
    height: 9em;
    width: 9em;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.large {
    font-size: 3em;
    font-weight: 800;
    line-height: 1.05;
}

.large, button {
    color: var(--neutral-light-one);
}

.text-wrapper .large {
    font-size: 1.3em;
    margin-bottom: 1em;
    font-weight: 500;
}

.text-wrapper .small{
    font-size: 0.8em;
    color: var(--neutral-light-three);
    margin: -0.7em;
}

section .summary, .summary, .summary-content {
    display: flex;
}

section p {
    color: var(--neutral-dark);
}

.summary {
    justify-content: space-between;
    padding: 0.8em;
    border-radius: 8px;
}

.summary-content {
    gap: 0.5em;
}

.summary p:not(span) {
    color: hsla(224, 30%, 27%, 70%);
}

.summary p span {
    font-weight: 600;
}

button {
    background-color: var(--neutral-dark);
    border: none;
    padding: 1.2em 0;
    border-radius: 26px;
    margin-top: 2em;
}

button:hover, button:focus-within {
    background: linear-gradient(var(--background-gradient-one), var(--background-gradient-two));
    cursor: pointer;
}

@media (max-width: 520px) {
    main {
        grid-template-columns: 1fr;
        border-radius: 0;
        max-width: 19em;
    }
    .left {
        border-radius: 0 0 26px 26px;
        padding: 1em 3em 2.2em;
    }
    .circle {
        height: 8em;
        width: 8em;
    }
    .summary {
        margin: 0.2em 0;
    }
    button {
        margin: 1em 0;
    }
    .right-container {
        padding: 1.4em 1.8em;
    }
    .text-wrapper .large {
        margin-bottom: 0.8em;
    }
}